
<h4> Add friend </h4>
<input #usernameTextbox type="text" placeholder="Enter friends first/last name" class="form-control">
<button class="btn btn-success" style="margin: 15px 0px;" (click)="addFriend(usernameTextbox)"> Add friend </button>

<h4> Friend requests </h4>
<table class="table" style="width: 100px;">
    <tbody>
        <tr *ngFor="let request of requests">
            <td style="vertical-align: middle;"> {{ request.userName }} </td>
            <td> <a class="nav-link mr-4" (click)=acceptFriend(request.userName)> <i class="fas fa-user-check"></i> </a> </td>
            <td> <a class="nav-link mr-4" (click)=declineFriend(request.userName)> <i class="fas fa-user-times"></i> </a> </td>
        </tr>
        <p *ngIf="!requests.length" style="width: 300px;"> No friend requests. </p>
    </tbody>
</table>

<h4> Friends </h4>
<table class="table" style="width: 1px;">
    <!--<thead>
        <tr>
            <th> Username </th>
            <th> First name </th>
            <th> Last name </th>
            <th> </th>
        </tr>
    </thead>-->
    <tbody>
        <tr *ngFor="let friend of friends">
            <td> {{ friend.userName }} </td>
            <td> {{ friend.firstName }} </td>
            <td> {{ friend.lastName }} </td>
            <td> <a (click)="deleteFriend(friend.userName)"> <i class="fas fa-trash"></i> </a> </td>
        </tr>
        <p *ngIf="!friends.length" style="width: 300px;"> No friends. </p>
    </tbody>
</table>