.row{
    clear: left;
}

.list-group{
    max-height: 260px;
    width: 300px;
    overflow-y:scroll;
    scrollbar-width: thin;
}

label{
    font-size: large;
    color: gray;
    background-color: lightgray;
    height: 260px;
    width: 715px;
    text-align: center;
    padding: 125px;
    border-radius: 10px;
}