<div class="container">
    <app-company-display [company] = "rentalAgency"></app-company-display>
    <div class="row justify-content-between mt-5">
        <div class="col-8">
            <div class="container">
                <h2><b>Our vehicles</b></h2>
                <div *ngIf="selectedBranch === undefined">
                    <label>Please choose a branch.</label>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-3 mr-5">
            <h2><b>Branches</b></h2>
            <ul class="list-group">
                <div *ngFor="let branch of rentalAgency?.branches">
                    <a routerLink="/rentalService/{{rentalAgency.name}}/{{branch.id}}" (click)=sendCars(branch)>
                        <li class="list-group-item list-group-item-action">
                            {{branch.location.country}}, {{branch.location.city}}<br/>
                            {{branch.location.adress}}
                        </li>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</div>
    

