<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-auto hero-title ml-auto">
                <h1><strong>Your next journey awaits</strong></h1>
            </div>
        </div>
    </div>

    <div class="container bg-white border border-secondary rounded">
        <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col form-group">
                    <label class="col-form-group" for="origin">Origin</label>
                    <input class="form-control" type="text" id="origin" formControlName="origin"/>
                </div>
                <div class="col form-group">
                    <label class="col-form-group" for="destination">Destination</label>
                    <input class="form-control" type="text" id="destination" formControlName="destination"/>
                </div>
                <div class="col form-group">
                    <label class="col-form-group" for="from">Departure</label>
                    <input class="form-control" type="date" id="from" formControlName="from"/>
                </div>
                <div class="col form-group">
                    <label class="col-form-group" for="to">Return</label>
                    <input class="form-control" type="date" id="to" formControlName="to"/>
                </div>
                <div class="col form-group col-md-1">
                    <label class="col-form-group" for="passNum">Passengers</label>
                    <input class="form-control" type="number" min="1" max="9" id="passNum" formControlName="passNum"/>
                </div>
                <div class="col col-auto form-group">
                    <button class="btn btn-success btn-block" style="margin-top: 35%;" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

</section>

<div class="container" style="margin-top: 10px;">
    <div *ngFor="let destination of destinations">
        <div class="row align-items-center">
            <div class="col col-auto">
                <h3>{{destination.continent}}({{destination.cities.length}})</h3>
            </div>
            <div class="col">
                <hr/>
            </div>
        </div>
        
        <div class="card-deck" style="margin-left: 2%;">
            <div *ngFor="let city of destination.cities" >
                <div class="card text-white">
                    <img class="card-img" src={{city.img}} alt="Card image" data-scrim-top="9">
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-auto card-img-text">
                                <h5 class="card-title" style="padding-top: 8px;">{{city.name}}</h5>
                            </div>
                        </div>
                    </div>
                    <a class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright: localhost:4200</div>
</footer>
  
  