#hero{
  background-image: url("../../../assets/images/travel.jpg");
  background-position: center center;
  background-size: 1706px 1066px;
  min-height: 500px; 
}

.card{
    width: 200px;
    margin: 10px;
}

.card-img-text{
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  margin-left: 10px;
}