<div class="row justify-content-center mt-5">
    <h3><b>New branch information</b></h3>
</div>
<form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center mt-4">
        <div class="form-group col col-md-5">
            <label class="col-form-label">Country</label>
            <input class="form-control" type="text" id="country" formControlName="Country">
            <label class="text-danger" *ngIf="service.formModel.get('Country').touched && service.formModel.get('Country').errors?.required">
                You must enter a country.
            </label>
        </div>
        <div class="form-group col col-md-5">
            <label class="col-form-label">City</label>
            <input class="form-control" type="text" id="city" formControlName="City">
            <label class="text-danger" *ngIf="service.formModel.get('City').touched && service.formModel.get('City').errors?.required">
                You must enter a city.
            </label>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col col-md-10">
            <label class="col-form-label">Address</label>
            <input class="form-control" type="text" id="address" formControlName="Address">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col col-md-3">
            <label class="col-form-label">Works from</label>
            <input class="form-control" type="time" id="worksFrom" formControlName="WorksFrom">
            <label class="text-danger" *ngIf="service.formModel.get('WorksFrom').touched && service.formModel.get('WorksFrom').errors?.required">
                You must choose starting hours.
            </label>
        </div>
        <div class="form-group col col-md-3">
            <label class="col-form-label">Works to</label>
            <input class="form-control" type="time" id="address" formControlName="WorksTo">
            <label class="text-danger" *ngIf="service.formModel.get('WorksTo').touched && service.formModel.get('WorksTo').errors?.required">
                You must choose the end of work time.
            </label>
        </div>
        <div class="form-group col col-md-4">
            <label class="col-form-label">Contact number</label>
            <input class="form-control" type="tel" id="contactNumber" formControlName="ContactNumber">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-md-1"></div>
        <div class="custom-control custom-checkbox col col-md-10">
            <input class="custom-control-input ml-1" type="checkbox" id="nearAirport" formControlName="NearAirport">
            <label class="custom-control-label ml-4" for="nearAirport">Is near airport</label>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col col-md-3">
            <button class="btn btn-block btn-success" [disabled]="service.formModel.invalid" type="submit">Add branch</button>
        </div>
    </div>
</form>

