<div class="container" style="margin-top: 10px;">
    <div class="row align-items-center">
        <div class="col col-auto">
            <h3>Airlines({{airlines.length}})</h3>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>

    <div style="margin-left: 4%;">
        <div class="card-deck" >
            <div *ngFor="let airline of airlines">
                <div class="card">
                    <img class="card-image-top" src={{airline.logo}} alt="Card image cap">
                    <a class="stretched-link" routerLink="/"></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col col-auto">
            <h3>Car Rental Services</h3>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div style="margin-left: 4%;">
        <app-car-service-display></app-car-service-display>
    </div>
    
</div>
