<section id="hero" style="background-image: url({{image}});">
    <div class="container">
        <div class="row">
            <div class="col-auto hero-title ml-auto">
                <h1></h1>
            </div>
        </div>
    </div>
    <div class="container bg-white border border-secondary rounded">
        <form [formGroup]=this.service.formModel (ngSubmit)="onSubmit()">
            <div class="row" style="margin-top: 5px;">
                <div class="col col-md-3 form-group">
                    <label class="col-form-group" for="pickup">Pick-up Location</label>
                    <input class="form-control" type="text" id="pickup" formControlName="pickupLocation"/>
                    <label class="text-danger" *ngIf="service.formModel.get('pickupLocation').touched && service.formModel.get('pickupLocation').errors?.required">
                        You must enter a location.
                    </label>
                </div>
                <div class="col col-md-2 form-group">
                    <label class="col-form-group" for="fromDate">Pick-up Date</label>
                    <input class="form-control" type="date" id="fromDate" formControlName="fromDate"/>
                    <label class="text-danger" *ngIf="service.formModel.get('fromDate').touched && service.formModel.get('fromDate').errors?.required">
                        You must select a pickup date.
                    </label>
                </div>
                <div class="col col-md-2 form-group">
                    <label class="col-form-group" for="fromTime">Pick-up Time</label>
                    <input class="form-control" type="time" id="fromTime" formControlName="fromTime"/>
                </div>
                <div class="col col-md-2 form-group">
                    <label class="col-form-group" for="toDate">Drop-off Date</label>
                    <input class="form-control" type="date" id="toDate" formControlName="toDate"/>
                    <label class="text-danger" *ngIf="service.formModel.get('toDate').touched && service.formModel.get('toDate').errors?.required">
                        You must select a drop-off date.
                    </label>
                </div>
                <div class="col form-group col-md-2">
                    <label class="col-form-group" for="toTime">Drop-off Time</label>
                    <input class="form-control" type="time" id="toTime" formControlName="toTime"/>
                </div>
                <div class="col col-md-1 form-group">
                    <button class="btn btn-success btn-block" [disabled]="service.formModel.invalid" style="margin-top: 35%;" type="submit">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="custom-control custom-checkbox ml-3 col">
                    <input class="custom-control-input" type="checkbox" id="sameDrop" formControlName="sameDrop"/>
                    <label class="custom-control-label" for="sameDrop">Same drop-off location</label>
                </div>
            </div>
        </form>
    </div>
</section>
